* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: url("../images/bg800bulbs.jpg") no-repeat #544d47;
  background-size: contain;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h3 {
  font-weight: 700;
}

p {
  padding: 0.8rem 0;
}

.container {
  max-width: 50vw;
  margin: 1.5rem auto;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Style header using flexbox */

.flex-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  width: 1.5rem;
  margin-right: auto;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding-left: 1.1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: blue;
}

/* Style main sevices section and float image right */

.main-info {
  margin: 2rem;
}

.wrapper {
  margin-top: 2rem;
}

.wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.serv-image {
  display: inline-block;
  margin: 0.8rem 0 0.8rem 1rem;
  border-radius: 0.5rem;
  float: right;
}

/* Style About Us section */

#about {
  margin: 2rem;
  overflow: hidden;
}

/* Style Testimonials section and float image left */

#testimonials {
  margin: 2rem;
}

.test-card {
  border: 0.1rem solid lightgrey;
  box-shadow: -0.4rem 0 lightgrey;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  background-color: white;
  overflow: hidden;
}

.test-card::after {
  content: "";
  display: block;
  clear: both;
}

.test-card p {
  padding: 0;
}

.test-image {
  display: inline-block;
  margin: 0 1rem 0.8rem 0;
  float: left;
}

/* Style button */

.button {
  text-align: center;
  margin: 2rem 0;
}

.button a {
  border: 1px solid rgb(128, 128, 128, 1);
  background-color: rgb(228, 228, 228, 1);
  color: black;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 0.3rem 8%;
  border-radius: 1rem;
}

.button a:hover {
  border: 1px solid rgb(128, 128, 128, 0.75);
  background-color: rgb(228, 228, 228, 0.75);
  color: blue;
}

/* Style Contact section and form */

#contact-us {
  margin: 3rem 2rem;
}

.my-form {
  background-color: rgb(228, 228, 228);
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  overflow: hidden;
}

.my-form input[type="text"],
.my-form input[type="tel"],
.my-form input[type="email"],
.my-form textarea {
  display: block;
  padding: 0.3rem;
  margin-bottom: 1rem;
  width: 100%;
}

.radio-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* Style submit button */
.submit {
  text-align: center;
  margin: 1rem 0;
}

.submit button {
  padding: 0.2rem 8%;
  cursor: pointer;
}

.submit button:hover {
  color: blue;
}

/* style footer */
footer {
  background-color: #dc6513;
  color: white;
  padding-left: 2rem;
}

/* Thank you page */

.thanks {
  padding: 10rem 3rem;
}

.thanks p {
  font-size: 3rem;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .navbar li {
    display: block;
  }
  .serv-image {
    display: block;
    margin: 0.8rem auto;
    width: 100%;
    float: none;
  }
  .test-image {
    display: block;
    margin: 0 auto 0.8rem auto;
    width: 100%;
    float: none;
  }
  .radio-container {
    display: block;
    text-align: center;
  }
}
